html {
    width: 100%;
    height: 100%;
    --lighter: #e0f2fe;
    --light: #f1f5f9;
    --medium: #94a3b8;
    --dark: #64748b;
    --darker: #475569;
    --text: #1e293b;
    --hover: #e2e8f0;
}

body {
    margin: 0;
    width: 100%;
    height: 90%;
    background-image: url(./images/xp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    color: var(--light);
}

#mainSection {
    margin-top: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.fade-in {
    animation-name: fade;
    animation-duration: .3s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#results {
    margin-top: 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    padding: 20px;
    border: 3px solid var(--dark);
    visibility: hidden;
    position: relative;
    transition: fade 2s;
    border-top: 40px solid rgb(50, 91, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#resultHeader {
    position: absolute;
    top: -45px;
    color: white;
    font-weight:bolder;
}

#closeBtn {
    position: absolute;
    top: -33px;
    right: 10px;
    background-color: rgb(251, 101, 101);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.2em;
}

#closeBtn:hover {
    cursor: pointer;
    background-color: rgb(205, 84, 84);
    color: rgb(172, 172, 172);
    border: 1px solid rgb(172, 172, 172);
}

.resultDiv {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    margin: 5px;
    color: var(--text);
    font-weight: bolder;
    border: 2px solid var(--dark);
    visibility: hidden;
    box-shadow: 5px 5px .2em .2em var(--dark);
    padding-left: 10px;
    padding-right: 10px;
}

.resultDiv * {
    margin: 10px;
}

.result {
    font-size: 1.3em;
    font-weight: bolder;
}

.inputDiv {
    position: absolute;
    top: -50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#city {
    height: 30px;
    width: 50%;
    background-color: var(--light);
    color: var(--text);
    border: none;
    padding-left: 10px;
    box-shadow: 5px 5px .2em .2em var(--text);
    font-weight: bolder;
}

#city:hover, #state:hover, #tempType:hover{
    background-color: var(--hover);
}

#state {
    background-color: var(--light);
    color: var(--text);
    border: none;
    width: 70px;
    text-align: center;
    box-shadow: 5px 5px .2em .2em var(--text);
    font-weight: bolder;
}

#tempType {
    background-color: var(--light);
    color: var(--text);
    border: none;
    width: 100px;
    text-align: center;
    box-shadow: 5px 5px .2em .2em var(--text);
    font-weight: bolder;
}

#submitBtn {
    background-color: rgb(50, 91, 255);
    border: none;
    color: white;
    margin-left: 5px;
    border: 2px solid var(--medium);
    box-shadow: 5px 5px .2em .2em var(--text);
    font-weight: bolder;
}

#submitBtn:hover {
    background-color: rgb(18, 53, 195);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: -10%;
    font-size: 1.3em;
    color: white;
}

footer a {
    color: white;
}


